body {
  background-image: url("images/img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: Arial, sans-serif;
  margin: 20px;
  color: #fff;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

th, td {
  border: 1px solid rgba(255,255,255,0.3);
  padding: 8px;
  text-align: center;
}

th {
  background-color: rgba(0, 50, 0, 0.7);
  color: #fff;
}

tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}
h2, h3 {
  font-weight: bold;
  color: #fffff;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
  margin: 20px 0 10px 0;
  letter-spacing: 1px;
  line-height: 1.3;
}

.titulo-img {
  width: 100%;
  max-width: 450px;
  display: block;
  margin: 20px auto;
}

h2 {
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
  text-align: center;
  margin: 20px 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 0;
  transition: all 0.3s ease;
  cursor: pointer;
}

h2:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  transform: scale(1.05);
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.8);
}

h3 {
  font-size: 1.5em;
  border-bottom: 1px solid rgba(208, 240, 192, 0.2);
  padding-bottom: 3px;
}

tr.p1 {
  background-color: rgba(0, 100, 0, 0.4);
}

tr.p2 {
  background-color: rgba(100, 50, 0, 0.4);
}
